@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
 }
 hr{
     border: 1px solid #d1d1d1;
     margin-bottom: 18px;
 }
.nav{
    max-width: 870px;
    margin: 0 auto;
    padding: 0 20px;
}
 header{
    background: #562EFF;
    padding: 10px 0;
}
header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
}
.logo img{
    width: 42px;
}
#idea{
    display: flex;
    align-items: center;
    margin-left: 15px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
   }
.navigation{
    display: flex;
}
.navigation-items{
    display: flex;
    align-items: center;
}
.navigation-items li{
    list-style: none;
    padding: 0 20px;
}
.navigation-items li a{
    text-decoration: none;
    color: whitesmoke;
}
.navigation-items li a:hover{
    color: #FF4A60;
}
.avatar{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    margin-top: 25px;
}
.top-player{
        margin-bottom: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* --------------------------
      Top-Blog-Styles
------------------------------ */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9f9f9f;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* ----------------------
       Latest-Course 
------------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses .course-banner img{
    width: 224px;
    height: 104px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
span{
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
}
.course-duration{
    color: #FF4A60;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEE5DF;
    width:94.83px;
    height:29.38px;
    border-radius:14.69px;
}

/*------------------ navbar---------------- */

#nav-toggler{
    display: none;
}
.nav-toggler-icon{
    display: none;
    color: whitesmoke;
    font-size: 30px;
}
/* ------------------------
      Responsive-Layout
--------------------------- */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
     
    }
    .players ,.blogs, .courses{
       grid-template-columns: repeat(1,1fr);
}
.player{
    flex-direction: column;
}
 }
 @media only screen and (min-width:668px) and (max-width:992px) {
     .container{
         width: 100%;
     }
     .players{
         grid-template-columns: repeat(2,1fr);
     }
     .blogs, .courses{
         grid-template-columns: repeat(1,1fr);
     }
     
 }
 @media (max-width:800px) {
    .nav-toggler-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(128, 0, 128, 0.623);
        padding: 20px 0;
        transform: translateY(-330px);
        transition: .5s, ease-in-out;
        
    }
     .navigation-items{
         flex-direction: column;
         align-items: center;
         padding: 10px 0;
     }
     #nav-toggler:checked~ .navigation{
         transform: translateY(0px);
     }
 }